#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  font-family: "Noto Sans", sans-serif;
}

h1 {
  font-size: 2em;
  line-height: 1.3;
}

.mid {
  text-align: center;
}

.abstract {
  max-width: 640px;
  margin: auto;
  text-align: left;
}